<h1><%= @list.name %> Movies</h1>

<ul>
  <% @movies.each do |movie| %>
    <li>
      <h3><%= movie.title %></h3>
      <p><%= movie.overview %></p>
      <img src="<%= movie.poster_url %>" alt="<%= movie.title %> Poster">
      <p>Rating: <%= movie.rating %></p>
    </li>
  <% end %>
</ul>

<ul>
<li><%= link_to "Return to all movie lists", lists_path(@list) %></li>
<li><%= link_to "Delete movie list",
  list_path(@list),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this movie list?"}
%></li>
</ul>